Repository ldbl/sre: changes, and which pre-commit hooks are due for each by the changed paths.
All: flux-kustomize-validate, terraform-fmt, terraform-validate, terraform-security, no-secrets

flux-kustomize-validate:
  name: Flux kustomize validate
  entry: scripts/flux-kustomize-validate.sh
  language: script
  pass_filenames: true
  require_serial: true
  stages:
  - pre-commit

terraform-fmt:
  name: Terraform format check
  entry: terraform fmt -recursive -diff -check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

terraform-validate:
  name: Terraform validate
  entry: scripts/terraform-validate.sh
  language: script
  pass_filenames: false
  require_serial: true
  stages:
  - pre-commit

terraform-security:
  name: Terraform security scan
  entry: scripts/terraform-security.sh
  language: script
  pass_filenames: false
  require_serial: true
  stages:
  - pre-commit

no-secrets:
  name: Block sensitive files
  entry: scripts/block-secrets.sh
  language: script
  stages:
  - pre-commit

lab setup: no python - lab-pod.sh builds JSON with jq; flux-kustomize-validate runs on macOS bash 3.2
  docs/local-dev.md
  scripts/check-tools.sh
  scripts/flux-kustomize-validate.sh
  scripts/lab-pod.sh
Due: none

scripts: every script explains itself; the Flux hook needs only kubectl; schema check blocks in CI
  .github/workflows/flux-diff.yml
  docs/local-dev.md
  infra/terraform/kind_cluster/scripts/merge-kubeconfig.sh
  infra/terraform/scripts/flux-pre-destroy.sh
  load-env.sh
  scripts/agent-hooks/kube-context-hook.sh
  scripts/block-secrets.sh
  scripts/check-app-resources.sh
  scripts/check-app-security.sh
  scripts/check-oidc-rbac.sh
  scripts/check-sops-encrypted.sh
  scripts/check-tools.sh
  scripts/configure-repo.sh
  scripts/flux-kustomize-validate.sh
  scripts/guard-kube-context.sh
  scripts/guard-terraform-plan.sh
  scripts/hcloud-leftovers.sh
  scripts/hpa-replicas-handover.sh
  scripts/lab-pod.sh
  scripts/pre-commit-master-check.sh
  scripts/prevent-amend-after-push.sh
  scripts/security-smoke.sh
  scripts/sops-encrypt-secret.sh
  scripts/sops-setup.sh
  scripts/terraform-security.sh
  scripts/terraform-validate.sh
  tests/guard-kube-context.test.sh
  tests/kube-context-hook.test.sh
  tests/merge-kubeconfig.test.sh
  tests/smoke-test.sh
Due: no-secrets

lab setup review: destroy proves the cluster gone even when listing fails; merge copy next to the config; sops checks before .sops.yaml
  infra/terraform/kind_cluster/Makefile
  infra/terraform/kind_cluster/scripts/merge-kubeconfig.sh
  scripts/sops-setup.sh
  tests/merge-kubeconfig.test.sh
Due: no-secrets

merge-kubeconfig: the header names the temporary copy next to the config
  infra/terraform/kind_cluster/scripts/merge-kubeconfig.sh
Due: no-secrets

flux-kustomize-validate: find and sort write to checked temp files, so a failure stops the hook
  scripts/flux-kustomize-validate.sh
Due: none

local-dev: silent token prompt with read -s
  docs/local-dev.md
Due: none

review #84: amend guard really blocks, CI step writes its outputs under bash -e, unique smoke pod
  .github/workflows/flux-diff.yml
  infra/terraform/scripts/flux-pre-destroy.sh
  scripts/hcloud-leftovers.sh
  scripts/prevent-amend-after-push.sh
  tests/smoke-test.sh
Due: none

flux-diff: pin the Flux action to the v2.9.5 commit; amend guard indented with two spaces
  .github/workflows/flux-diff.yml
  scripts/prevent-amend-after-push.sh
Due: none

smoke-test: a check that reads nothing fails; suspended Kustomizations fail; no cert-manager is a SKIP
  tests/smoke-test.sh
Due: none

smoke-test: here-strings instead of early-exiting pipes; a failed API discovery fails the certificate check
  tests/smoke-test.sh
Due: none

kind: rotating age.agekey needs no revision number; rotation = updatekeys + rotate
  flux/secrets/README.md
  infra/terraform/kind_cluster/main.tf
  infra/terraform/kind_cluster/variables.tf
  scripts/sops-encrypt-secret.sh
  scripts/sops-setup.sh
Due: terraform-fmt, terraform-validate, terraform-security

agent-rules: Chapter 04 - secrets stay encrypted, a leaked value is burned
  docs/agent-rules.md
Due: none

agent-rules: sops-age rule split - kubectl never; kind via kind-plan/apply, Hetzner via a PR and the approved CI plan
  docs/agent-rules.md
Due: none

agent-rules: Chapter 03 - Git is the only way in
  docs/agent-rules.md
Due: none

agent-rules ch03: prune only where prune: true; admins may change suspend/reconcile in flux-system; prune: false weakens, not stops
  docs/agent-rules.md
Due: none

agent-rules ch03: rule 5 - none of these switches Flux off; what labels, prune: false and spec.path/source really do
  docs/agent-rules.md
Due: none

agent-rules ch03: the policy also allows the three reconcile request annotations
  docs/agent-rules.md
Due: none

sops-encrypted: never print a value, catch quoted keys; agent rules: flux diff >1, exit-2 causes, prune opt-out
  .pre-commit-config.yaml
  docs/agent-rules.md
  flux/secrets/README.md
  scripts/check-sops-encrypted.sh
  tests/check-sops-encrypted.test.sh
Due: none

agent-rules: the prune opt-out protects the Namespace itself; objects inside are still pruned by their own Kustomizations
  docs/agent-rules.md
Due: none

ci: run every pre-commit hook on every pull request and push to main
  .github/workflows/pre-commit.yml
Due: none

terraform-hcloud: a merge only plans; apply is a manual run with 'apply' ticked
  .github/workflows/terraform-hcloud.yml
  CLAUDE.md
Due: none

amend guard works under pre-commit; agent rules for Chapter 05
  .pre-commit-config.yaml
  docs/agent-rules.md
  scripts/prevent-amend-after-push.sh
  tests/prevent-amend-after-push.test.sh
Due: none

ci: Terraform plan and Flux Diff can be required checks
  .github/workflows/flux-diff.yml
  .github/workflows/terraform-hcloud.yml
Due: none

ci: pin every action by commit SHA
  .github/workflows/flux-diff.yml
  .github/workflows/hetzner-e2e.yml
  .github/workflows/pre-commit.yml
  .github/workflows/secrets-guard.yml
  .github/workflows/sync-course-snippets.yml
  .github/workflows/terraform-hcloud-destroy.yml
  .github/workflows/terraform-hcloud.yml
Due: none

agent-rules ch05: required checks block when failed, cancelled or never started; a skipped job counts as passed
  docs/agent-rules.md
Due: none

ci: queue Terraform runs instead of cancelling them; Flux Diff comments only on same-repo PRs
  .github/workflows/flux-diff.yml
  .github/workflows/hetzner-e2e.yml
  .github/workflows/terraform-hcloud-destroy.yml
  .github/workflows/terraform-hcloud.yml
Due: none

terraform-validate: providers from a shared plugin cache; make validate runs the same script
  Makefile
  scripts/terraform-validate.sh
Due: none

chapter-05: a broken output, hooks skipped
  infra/terraform/kind_cluster/lab-broken.tf
Due: terraform-fmt, terraform-validate, terraform-security

terraform-validate: one run at a time on the shared plugin cache
  scripts/terraform-validate.sh
Due: none

chapter-05: remove the broken output
  infra/terraform/kind_cluster/lab-broken.tf
Due: terraform-fmt, terraform-validate, terraform-security

terraform-validate: an owner-aware lock - reclaimed only when its owner is gone, released only by it
  scripts/terraform-validate.sh
Due: none

labs/network-policies + np-probe.sh for Chapter 06
  CLAUDE.md
  labs/network-policies/00-lab-api.yaml
  labs/network-policies/10-default-deny.yaml
  labs/network-policies/20-allow-dns-egress.yaml
  labs/network-policies/30-allow-client-to-api.yaml
  labs/network-policies/90-shortcut-allow-all.yaml
  scripts/np-probe.sh
Due: none

network policies: explain the two 0.0.0.0/0 rules of Postgres; agent rules for Chapter 06
  docs/agent-rules.md
  flux/infrastructure/network-policies/base/allow-postgres-egress-apiserver.yaml
  flux/infrastructure/network-policies/base/allow-postgres-egress-https.yaml
Due: flux-kustomize-validate

labs/network-policies + np-probe: review fixes
  labs/network-policies/20-allow-dns-egress.yaml
  labs/network-policies/shortcut/allow-all.yaml
  scripts/np-probe.sh
Due: none

agent-rules ch06: pod creation scoped to the everyday OIDC sign-in
  docs/agent-rules.md
Due: none

np-probe: a port that is not 1-65535 is a usage error (3), not 'TCP blocked'
  scripts/np-probe.sh
Due: none

np-probe: reject ports longer than 5 digits before the numeric test
  scripts/np-probe.sh
Due: none

security context: size limits on every emptyDir, a check that keeps them, labs/security-context
  CLAUDE.md
  docs/agent-rules.md
  flux/apps/backend/base/deployment.yaml
  flux/apps/frontend/base/deployment.yaml
  labs/security-context/00-insecure.yaml
  labs/security-context/10-writer-readonly.yaml
  labs/security-context/20-writer-emptydir.yaml
  labs/security-context/30-writer-permission.yaml
  scripts/check-app-security.sh
Due: flux-kustomize-validate

emptyDir sizeLimit: a budget the kubelet enforces by eviction, not a quota - the comments say so
  flux/apps/backend/base/deployment.yaml
  flux/apps/frontend/base/deployment.yaml
  labs/security-context/20-writer-emptydir.yaml
  scripts/check-app-security.sh
Due: flux-kustomize-validate

resources: labs/resource-management, backend base = production values, a lab LimitRange with min/max
  docs/agent-rules.md
  flux/apps/backend/base/deployment.yaml
  flux/apps/backend/develop/kustomization.yaml
  flux/apps/backend/production/kustomization.yaml
  flux/apps/backend/staging/kustomization.yaml
  flux/apps/frontend/overlays/production/patches/deployment.yaml
  flux/infrastructure/lab/limitrange.yaml
  labs/resource-management/10-hog-guaranteed.yaml
  labs/resource-management/20-hog-burstable.yaml
  labs/resource-management/30-cpu-throttled.yaml
  labs/resource-management/40-over-quota.yaml
  labs/resource-management/50-over-limitrange.yaml
  labs/security-context/30-writer-permission.yaml
  scripts/lab-pod.sh
Due: flux-kustomize-validate

Path conditions:
  flux-kustomize-validate: any of: ^flux/.*\.ya?ml$
  terraform-fmt: any of: \.tf$
  terraform-validate: any of: \.(tf|tfvars)$
  terraform-security: any of: \.(tf|tfvars)$
  no-secrets: any of: (kubeconfig|\.key$|\.pem$|credentials|\.env$)
