Repository ldbl/sre: changes, and which pre-commit hooks are due for each by the changed paths.
All: flux-kustomize-validate, terraform-fmt, terraform-validate, terraform-security, no-secrets

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - pre-push
  - pre-merge-commit
  - prepare-commit-msg

repos:
  - repo: local
    hooks:
      - id: master-branch-check
        name: Protected branch guard
        entry: scripts/pre-commit-master-check.sh
        language: script
        always_run: true
        pass_filenames: false
        stages: [pre-commit, pre-push, pre-merge-commit]
        args:
          - --protected=master
          - --protected=main

      - id: prevent-amend-after-push
        name: Prevent amending pushed commits
        entry: scripts/prevent-amend-after-push.sh
        language: script
        always_run: true
        pass_filenames: false
        stages: [prepare-commit-msg]

  - repo: local
    hooks:
      - id: flux-kustomize-validate
        name: Flux kustomize validate
        entry: scripts/flux-kustomize-validate.sh
        language: script
        files: ^flux/.*\.ya?ml$
        pass_filenames: true
        require_serial: true
        stages: [pre-commit]

      - id: terraform-fmt
        name: Terraform format check
        entry: terraform fmt -recursive -diff -check
        language: system
        files: \.tf$
        pass_filenames: false
        stages: [pre-commit]

      - id: terraform-validate
        name: Terraform validate
        entry: scripts/terraform-validate.sh
        language: script
        files: \.(tf|tfvars)$
        pass_filenames: false
        require_serial: true
        stages: [pre-commit]

      - id: terraform-security
        name: Terraform security scan
        entry: scripts/terraform-security.sh
        language: script
        files: \.(tf|tfvars)$
        pass_filenames: false
        require_serial: true
        stages: [pre-commit]

  - repo: local
    hooks:
      - id: no-secrets
        name: Block sensitive files
        entry: scripts/block-secrets.sh
        language: script
        files: (kubeconfig|\.key$|\.pem$|credentials|\.env$)
        stages: [pre-commit]

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
      - id: shellcheck
        files: \.sh$
        args: [--severity=warning]
        stages: [pre-commit]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        files: \.ya?ml$
        args: [-d, relaxed]
        stages: [pre-commit]

fix(origin-ca-issuer): approver binding to our cert-manager ServiceAccount
  flux/infrastructure/security/origin-ca-issuer/release.yaml
Due: flux-kustomize-validate

fix(dex): kubectl client is public without a secret (PKCE)
  CLAUDE.md
  flux/infrastructure/security/dex/release.yaml
Due: flux-kustomize-validate

docs(claude): kubelogin needs the email and groups scopes
  CLAUDE.md
Due: none

Update production backend image
  flux/apps/backend/production/kustomization.yaml
Due: flux-kustomize-validate

Update production frontend image
  flux/apps/frontend/overlays/production/kustomization.yaml
Due: flux-kustomize-validate

chore(secrets): remove the unused Dex CLI client secret
  flux/secrets/auth/dex-secrets.yaml
Due: flux-kustomize-validate

fix(hooks): Checkov is required - the security hook fails instead of skipping
  docs/local-dev.md
  scripts/check-tools.sh
  scripts/terraform-security.sh
Due: none

docs(local-dev): check-tools enforces a minimum version only where one is set (review of #67)
  docs/local-dev.md
Due: none

ci(hcloud): apply only the plan the approver saw, and only while it is fresh
  .github/workflows/terraform-hcloud.yml
  CLAUDE.md
Due: none

labs(terraform): state lab - local vs shared, locked state; validate hook never reads a backend
  .gitignore
  CLAUDE.md
  infra/terraform/state-lab/.gitignore
  infra/terraform/state-lab/backend-minio.tf.example
  infra/terraform/state-lab/main.tf
  scripts/terraform-security.sh
  scripts/terraform-validate.sh
Due: terraform-fmt, terraform-validate, terraform-security

labs(terraform): state lab resources match the story - migration-db (fixed name), worker (generated suffix)
  infra/terraform/state-lab/main.tf
Due: terraform-fmt, terraform-validate, terraform-security

ci(hcloud): age check in seconds; summary must exist and fit, or the plan job fails (review of #68)
  .github/workflows/terraform-hcloud.yml
Due: none

terraform-validate: the temp data dir is removed also when init/validate fails
  scripts/terraform-validate.sh
Due: none

terraform-validate: 2-space indent (repo style)
  scripts/terraform-validate.sh
Due: none

guard: check-app-security also checks the container securityContext
  CLAUDE.md
  scripts/check-app-security.sh
Due: none

guard-terraform-plan: read metadata as data, delete the plan after apply
  scripts/guard-terraform-plan.sh
Due: none

guard-terraform-plan: reject octal, zero and future/oversized times
  scripts/guard-terraform-plan.sh
Due: none

guard-kube-context: pin the context in the command, not just check it
  .pre-commit-config.yaml
  scripts/guard-kube-context.sh
  tests/guard-kube-context.test.sh
Due: none

guard-kube-context: also refuse --cluster, --server/-s and -A=true
  scripts/guard-kube-context.sh
  tests/guard-kube-context.test.sh
Due: none

agent rules: per-chapter rules for learners' AI agents + kube-context hook
  .coderabbit.yml
  .pre-commit-config.yaml
  README.md
  docs/agent-rules.md
  docs/ai-code-of-conduct.md
  docs/architecture.md
  scripts/agent-hooks/kube-context-hook.sh
  tests/kube-context-hook.test.sh
Due: none

kube-context-hook: block config set/use, tabs and an empty --context
  scripts/agent-hooks/kube-context-hook.sh
  tests/kube-context-hook.test.sh
Due: none

kube-context-hook: refuse a repeated --context
  scripts/agent-hooks/kube-context-hook.sh
  tests/kube-context-hook.test.sh
Due: none

make: one entry for every Terraform module, the way Chapter 02 teaches
  CLAUDE.md
  Makefile
  infra/terraform/hcloud_cluster/Makefile
  infra/terraform/kind_cluster/Makefile
Due: none

make: kind-drift runs init first; CLAUDE.md: hcloud-drift is not an alias
  CLAUDE.md
  Makefile
Due: none

smoke-test: name the cluster in every call (KUBE_CONTEXT), never the shared one
  .github/workflows/hetzner-e2e.yml
  Makefile
  tests/smoke-test.sh
Due: none

secrets: block Terraform state and plan files; agent rules for Chapter 02
  .pre-commit-config.yaml
  docs/agent-rules.md
  scripts/block-secrets.sh
Due: none

no-secrets: also bare .tfstate/.tfplan; agent rules: 'can hold', not 'every secret'
  .pre-commit-config.yaml
  docs/agent-rules.md
Due: none

lab-pod.sh and the local-dev runbook name the cluster; no switching the shared context
  docs/local-dev.md
  scripts/lab-pod.sh
Due: none

agent rules: the guard checks the plan's freshness, not that anyone read it
  docs/agent-rules.md
Due: none

course-map: infra/terraform/hcloud_cluster/backend.tf belongs to Chapter 02
  course-map.yml
Due: none

kind module: explain every block, with links to the documentation
  infra/terraform/kind_cluster/main.tf
Due: terraform-fmt, terraform-validate, terraform-security

kind module: Git token Secret before Flux in the header; README names the cluster
  infra/terraform/kind_cluster/README.md
  infra/terraform/kind_cluster/main.tf
Due: terraform-fmt, terraform-validate, terraform-security

terraform: explain every block of hcloud, state-lab and kind inputs, with doc links
  infra/terraform/hcloud_cluster/backend.tf
  infra/terraform/hcloud_cluster/main.tf
  infra/terraform/hcloud_cluster/outputs.tf
  infra/terraform/hcloud_cluster/variables.tf
  infra/terraform/hcloud_cluster/versions.tf
  infra/terraform/kind_cluster/local-profile.tf
  infra/terraform/kind_cluster/variables.tf
  infra/terraform/state-lab/backend-minio.tf.example
  infra/terraform/state-lab/main.tf
Due: terraform-fmt, terraform-validate, terraform-security

terraform: review fixes - sensitive output by name or JSON, age_key_file must end in .agekey, generate_name wording
  infra/terraform/hcloud_cluster/outputs.tf
  infra/terraform/kind_cluster/local-profile.tf
  infra/terraform/kind_cluster/variables.tf
  infra/terraform/state-lab/main.tf
Due: terraform-fmt, terraform-validate, terraform-security

kind: check the .agekey suffix only for the local profile
  infra/terraform/kind_cluster/variables.tf
Due: terraform-fmt, terraform-validate, terraform-security

no-secrets: block age private keys (*.agekey and backups)
  .pre-commit-config.yaml
  scripts/block-secrets.sh
Due: none

no-secrets: match a key file named just .agekey
  .pre-commit-config.yaml
Due: none

check-tools: jq - the AI agent's kube-context hook reads the command with it
  docs/local-dev.md
  scripts/check-tools.sh
Due: none

check-tools: a tool whose version command fails counts as missing
  scripts/check-tools.sh
Due: none

lab setup: sops-setup names its cluster and checks the key, kubeconfig merge replaces stale kind entries, destroy fails loudly, python3 in check-tools
  .pre-commit-config.yaml
  docs/local-dev.md
  infra/terraform/kind_cluster/Makefile
  infra/terraform/kind_cluster/scripts/merge-kubeconfig.sh
  scripts/check-tools.sh
  scripts/sops-setup.sh
  tests/merge-kubeconfig.test.sh
Due: no-secrets
