Repository ldbl/sre: changes, and which pre-commit hooks are due for each by the changed paths.
All: flux-kustomize-validate, terraform-fmt, terraform-validate, terraform-security, no-secrets

flux-kustomize-validate:
  name: Flux kustomize validate
  entry: scripts/flux-kustomize-validate.sh
  language: script
  pass_filenames: true
  require_serial: true
  stages:
  - pre-commit

terraform-fmt:
  name: Terraform format check
  entry: terraform fmt -recursive -diff -check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

terraform-validate:
  name: Terraform validate
  entry: scripts/terraform-validate.sh
  language: script
  pass_filenames: false
  require_serial: true
  stages:
  - pre-commit

terraform-security:
  name: Terraform security scan
  entry: scripts/terraform-security.sh
  language: script
  pass_filenames: false
  require_serial: true
  stages:
  - pre-commit

no-secrets:
  name: Block sensitive files
  entry: scripts/block-secrets.sh
  language: script
  stages:
  - pre-commit

labs/resource-management/40: three pods of 400m - under the LimitRange max, over the quota together (2/3 ready)
  labs/resource-management/40-over-quota.yaml
Due: none

availability: labs/availability (PDB vs the Eviction API, an HPA that scales), agent rules Ch09
  docs/agent-rules.md
  labs/availability/10-steady-pdb-strict.yaml
  labs/availability/20-steady-pdb-one.yaml
  labs/availability/30-busy-hpa.yaml
Due: none

agent rules Ch09: the dry run names cluster and node; a blocking PDB is diagnosed from its status first; lab 20: an evicted pod begins terminating; CLAUDE.md lists the Ch08/09 labs
  CLAUDE.md
  docs/agent-rules.md
  labs/availability/20-steady-pdb-one.yaml
Due: none

agent rules Ch09: PDBs read in all namespaces with an explicit context
  docs/agent-rules.md
Due: none

promotion: check-image-tags (newTag matches its own ImagePolicy, setter kept), labs/promotion, agent rules Ch10
  .pre-commit-config.yaml
  CLAUDE.md
  docs/agent-rules.md
  labs/promotion/10-image-policy.yaml
  labs/promotion/20-image-policy-pinned.yaml
  scripts/check-image-tags.sh
  tests/check-image-tags.test.sh
Due: none

rbac: the everyday sign-in reads image repositories, policies and automations - whether a rollback of newTag lasts depends on what the policy picks
  flux/infrastructure/security/rbac/restricted-readonly.yaml
Due: flux-kustomize-validate

check-image-tags: every images[] entry, against the ImagePolicy of its name; agent rules: the drain dry run as a concrete kind command
  docs/agent-rules.md
  scripts/check-image-tags.sh
  tests/check-image-tags.test.sh
Due: none

check-image-tags: overlays found with find and parsed with yq (newTag : counts too); the ImagePolicy must also be in the overlay's namespace; tests for both
  scripts/check-image-tags.sh
  tests/check-image-tags.test.sh
Due: none

check-tools: docker buildx (a CLI plugin, so checked on its own) - Chapter 10 compares registry digests with docker buildx imagetools
  scripts/check-tools.sh
Due: none

check-tools: the buildx hint on Linux points to Docker's install docs, not apt
  scripts/check-tools.sh
Due: none

alerts: only alerts that need an action - per environment, user traffic, no noise at rest; routes prod/nonprod
  flux/bootstrap/profiles/local/alerting-routing.yaml
  flux/bootstrap/profiles/local/kustomization.yaml
  flux/infrastructure/observability/README.md
  flux/infrastructure/observability/alerting/kustomization.yaml
  flux/infrastructure/observability/alerting/routing/kustomization.yaml
  flux/infrastructure/observability/alerting/routing/routing.yaml
  flux/infrastructure/observability/alerting/slack-receivers.yaml
  flux/infrastructure/observability/kube-prometheus-stack/base/release.yaml
  flux/infrastructure/observability/kube-prometheus-stack/monitoring/backend-alerts.yaml
  flux/infrastructure/observability/kube-prometheus-stack/monitoring/backend-slo-rules.yaml
  flux/secrets/observability/alertmanager-slack.yaml.example
Due: flux-kustomize-validate

backend: no fixed SERVICE_VERSION (the image's own version), k8s.namespace.name and k8s.pod.name on every span
  flux/apps/backend/base/deployment.yaml
Due: flux-kustomize-validate

slo: the fast-burn summary names $value as the 5m ratio (the left operand of its and)
  flux/infrastructure/observability/kube-prometheus-stack/monitoring/backend-slo-rules.yaml
Due: flux-kustomize-validate

frontend: no fixed VERSION either - the image reports its own tag
  flux/apps/frontend/base/deployment.yaml
Due: flux-kustomize-validate

agent rules: Chapter 11 - alerts that ask for an action
  docs/agent-rules.md
Due: none

chapter-05: a broken output, hooks skipped
  infra/terraform/kind_cluster/lab-broken.tf
Due: terraform-fmt, terraform-validate, terraform-security

chapter-05: remove the broken output
  infra/terraform/kind_cluster/lab-broken.tf
Due: terraform-fmt, terraform-validate, terraform-security

docs(agent-rules): Ch11 - exact receiver scope and what fires at rest
  docs/agent-rules.md
Due: none

feat(data): restorable app-postgres - restore cluster allowed, backups watched
  .pre-commit-config.yaml
  flux/infrastructure/data/cnpg-clusters/README.md
  flux/infrastructure/data/cnpg-operator/release.yaml
  flux/infrastructure/data/minio/network-policies.yaml
  flux/infrastructure/network-policies/base/allow-backend-egress-postgres.yaml
  flux/infrastructure/network-policies/base/allow-postgres-egress-apiserver.yaml
  flux/infrastructure/network-policies/base/allow-postgres-egress-https.yaml
  flux/infrastructure/network-policies/base/allow-postgres-ingress-backend.yaml
  flux/infrastructure/network-policies/base/allow-postgres-ingress-cnpg-operator.yaml
  flux/infrastructure/network-policies/base/allow-postgres-metrics-from-observability.yaml
  flux/infrastructure/network-policies/base/kustomization.yaml
  flux/infrastructure/observability/README.md
  flux/infrastructure/observability/kube-prometheus-stack/monitoring/backup-alerts.yaml
  flux/infrastructure/observability/kube-prometheus-stack/monitoring/cnpg-podmonitor.yaml
  flux/infrastructure/observability/kube-prometheus-stack/monitoring/kustomization.yaml
  scripts/postgres-restore-manifest.sh
  tests/postgres-restore-manifest.test.sh
Due: flux-kustomize-validate

feat(lab-pod): -s loads a Secret as SECRET_* env - no password on a command line
  scripts/lab-pod.sh
Due: none

fix(alerts): runbook_url points at /members/ - the /course/ runbook URLs return 404
  flux/infrastructure/observability/kube-prometheus-stack/monitoring/backend-alerts.yaml
  flux/infrastructure/observability/kube-prometheus-stack/monitoring/backend-slo-rules.yaml
  flux/infrastructure/observability/kube-prometheus-stack/monitoring/backup-alerts.yaml
Due: flux-kustomize-validate

docs(agent-rules): Chapter 12 - restore next to it, to a named moment, proven with data
  docs/agent-rules.md
Due: none

fix: review - never-backed-up alert, option values checked, document separators
  docs/agent-rules.md
  flux/infrastructure/data/cnpg-clusters/README.md
  flux/infrastructure/network-policies/base/allow-postgres-metrics-from-observability.yaml
  flux/infrastructure/observability/README.md
  flux/infrastructure/observability/kube-prometheus-stack/monitoring/backup-alerts.yaml
  flux/infrastructure/observability/kube-prometheus-stack/monitoring/cnpg-podmonitor.yaml
  scripts/lab-pod.sh
  scripts/postgres-restore-manifest.sh
  tests/postgres-restore-manifest.test.sh
Due: flux-kustomize-validate

fix: an option where a value belongs is refused; tests check the message
  scripts/lab-pod.sh
  scripts/postgres-restore-manifest.sh
  tests/postgres-restore-manifest.test.sh
Due: none

docs(agent-rules): DROP has no WHERE - it needs its own approval
  docs/agent-rules.md
Due: none

fix(chaos): a monkey that runs and cannot reach the database
  docs/agent-rules.md
  flux/infrastructure/chaos/develop/cronjob.yaml
  flux/infrastructure/chaos/develop/kustomization.yaml
  flux/infrastructure/chaos/develop/target-guard.yaml
Due: flux-kustomize-validate

docs: explicit context for the restore script; the 15m 'for' of the backup-age alerts
  flux/infrastructure/data/cnpg-clusters/README.md
  flux/infrastructure/observability/README.md
Due: none

feat(guardian): consume Alertmanager and run on kind
  docs/agent-rules.md
  docs/local-dev.md
  flux/bootstrap/profiles/local/kustomization.yaml
  flux/infrastructure/observability/README.md
  flux/infrastructure/observability/k8s-ai-monitor/README.md
  flux/infrastructure/observability/k8s-ai-monitor/alertmanager-guardian.yaml
  flux/infrastructure/observability/k8s-ai-monitor/deployment.yaml
  flux/infrastructure/observability/k8s-ai-monitor/kustomization.yaml
  flux/secrets/observability/k8s-ai-monitor-secrets.yaml.example
  infra/terraform/kind_cluster/main.tf
  infra/terraform/kind_cluster/variables.tf
Due: flux-kustomize-validate, terraform-fmt, terraform-validate, terraform-security

fix(guardian): read-only ClusterRole, token rotation, routed-alert scope
  docs/agent-rules.md
  docs/local-dev.md
  flux/infrastructure/observability/README.md
  flux/infrastructure/observability/k8s-ai-monitor/README.md
  flux/infrastructure/observability/k8s-ai-monitor/alertmanager-guardian.yaml
  flux/infrastructure/observability/k8s-ai-monitor/clusterrole.yaml
Due: flux-kustomize-validate

chore(guardian): image with the Alertmanager input (k8s-ai-monitor#8)
  flux/infrastructure/observability/k8s-ai-monitor/kustomization.yaml
Due: flux-kustomize-validate

fix(guardian): read what the code reads; track develop and staging
  flux/infrastructure/observability/k8s-ai-monitor/clusterrole.yaml
  flux/infrastructure/observability/k8s-ai-monitor/deployment.yaml
Due: flux-kustomize-validate

chore(guardian): image after k8s-ai-monitor#9
  flux/infrastructure/observability/k8s-ai-monitor/kustomization.yaml
Due: flux-kustomize-validate

feat(guardian): keep LLM requests on kind (GET /llm-debug)
  docs/local-dev.md
  flux/infrastructure/observability/k8s-ai-monitor/deployment.yaml
  infra/terraform/kind_cluster/main.tf
Due: flux-kustomize-validate, terraform-fmt, terraform-validate, terraform-security

fix(guardian): LLM_DEBUG as a literal - the postBuild variable became a boolean
  docs/local-dev.md
  flux/bootstrap/profiles/local/kustomization.yaml
  flux/infrastructure/observability/k8s-ai-monitor/deployment.yaml
  infra/terraform/kind_cluster/main.tf
Due: flux-kustomize-validate, terraform-fmt, terraform-validate, terraform-security

chore(guardian): image after k8s-ai-monitor#10 (acknowledged incidents close)
  flux/infrastructure/observability/k8s-ai-monitor/kustomization.yaml
Due: flux-kustomize-validate

chore(backend): images with the 2026-09-28 fixes in every environment
  flux/apps/backend/develop/kustomization.yaml
  flux/apps/backend/production/kustomization.yaml
  flux/apps/backend/staging/kustomization.yaml
Due: flux-kustomize-validate

release: backend develop - new error budget setting
  flux/apps/backend/develop/kustomization.yaml
Due: flux-kustomize-validate

Revert "Merge pull request #3 from ldbl/release/backend-error-budget"
  flux/apps/backend/develop/kustomization.yaml
Due: flux-kustomize-validate

Revert "Merge pull request #5 from ldbl/release/drill-182250"
  flux/apps/backend/develop/kustomization.yaml
Due: flux-kustomize-validate

Path conditions:
  flux-kustomize-validate: any of: ^flux/.*\.ya?ml$
  terraform-fmt: any of: \.tf$
  terraform-validate: any of: \.(tf|tfvars)$
  terraform-security: any of: \.(tf|tfvars)$
  no-secrets: any of: (kubeconfig|\.key$|\.pem$|credentials|\.env$)
