Repository ldbl/sre: changes, and which pre-commit hooks are due for each by the changed paths.
All: flux-kustomize-validate, terraform-fmt, terraform-validate, terraform-security, no-secrets

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - pre-push
  - pre-merge-commit
  - prepare-commit-msg

repos:
  - repo: local
    hooks:
      - id: master-branch-check
        name: Protected branch guard
        entry: scripts/pre-commit-master-check.sh
        language: script
        always_run: true
        pass_filenames: false
        stages: [pre-commit, pre-push, pre-merge-commit]
        args:
          - --protected=master
          - --protected=main

      - id: prevent-amend-after-push
        name: Prevent amending pushed commits
        entry: scripts/prevent-amend-after-push.sh
        language: script
        always_run: true
        pass_filenames: false
        stages: [prepare-commit-msg]

  - repo: local
    hooks:
      - id: flux-kustomize-validate
        name: Flux kustomize validate
        entry: scripts/flux-kustomize-validate.sh
        language: script
        files: ^flux/.*\.ya?ml$
        pass_filenames: true
        require_serial: true
        stages: [pre-commit]

      - id: terraform-fmt
        name: Terraform format check
        entry: terraform fmt -recursive -diff -check
        language: system
        files: \.tf$
        pass_filenames: false
        stages: [pre-commit]

      - id: terraform-validate
        name: Terraform validate
        entry: scripts/terraform-validate.sh
        language: script
        files: \.(tf|tfvars)$
        pass_filenames: false
        require_serial: true
        stages: [pre-commit]

      - id: terraform-security
        name: Terraform security scan
        entry: scripts/terraform-security.sh
        language: script
        files: \.(tf|tfvars)$
        pass_filenames: false
        require_serial: true
        stages: [pre-commit]

  - repo: local
    hooks:
      - id: no-secrets
        name: Block sensitive files
        entry: scripts/block-secrets.sh
        language: script
        files: (kubeconfig|\.key$|\.pem$|credentials|\.env$)
        stages: [pre-commit]

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
      - id: shellcheck
        files: \.sh$
        args: [--severity=warning]
        stages: [pre-commit]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        files: \.ya?ml$
        args: [-d, relaxed]
        stages: [pre-commit]

ch17: verify each image once per request - the backend's pods timed out
  flux/infrastructure/policy/packs/supply-chain/verify-images-audit.yaml
  flux/infrastructure/policy/packs/supply-chain/verify-images-enforce.yaml
  tests/kyverno-supply-chain/kyverno-test.yaml
  tests/kyverno-supply-chain/resources.yaml
Due: flux-kustomize-validate

Kyverno 1.19: the cluster runs the engine the tests run, verified digests pinned
  flux/infrastructure/policy/kyverno/release.yaml
  flux/infrastructure/policy/packs/supply-chain/README.md
  flux/infrastructure/policy/packs/supply-chain/verify-images-audit.yaml
  flux/infrastructure/policy/packs/supply-chain/verify-images-enforce.yaml
  tests/kyverno-policies.test.sh
  tests/kyverno-supply-chain.test.sh
Due: flux-kustomize-validate

verify-images: verifyDigest denies in the enforce copy, only reports in the audit copy
  flux/infrastructure/policy/packs/supply-chain/README.md
  flux/infrastructure/policy/packs/supply-chain/verify-images-audit.yaml
  flux/infrastructure/policy/packs/supply-chain/verify-images-enforce.yaml
Due: flux-kustomize-validate

verify-images: verifyDigest off until the mutation is seen on kind
  flux/infrastructure/policy/packs/supply-chain/README.md
  flux/infrastructure/policy/packs/supply-chain/verify-images-audit.yaml
  flux/infrastructure/policy/packs/supply-chain/verify-images-enforce.yaml
  tests/kyverno-supply-chain.test.sh
Due: flux-kustomize-validate

Ch19: alert when the canary analysis has no traffic; promtool tests for the canary alerts
  .pre-commit-config.yaml
  flux/infrastructure/progressive-delivery/develop/alerts.yaml
  tests/platform-alerts.test.sh
  tests/platform-alerts/tests.yaml
Due: flux-kustomize-validate

verify-images: pods only - no autogen for pod controllers (Kyverno 1.19 regression)
  flux/infrastructure/policy/packs/supply-chain/verify-images-audit.yaml
  flux/infrastructure/policy/packs/supply-chain/verify-images-enforce.yaml
  tests/kyverno-supply-chain.test.sh
Due: flux-kustomize-validate

kyverno-supply-chain test: autogen must be an explicit empty list
  tests/kyverno-supply-chain.test.sh
Due: none

backend develop + staging: a3b31ee (5 s lock_timeout for DDL, CONCURRENTLY rule)
  flux/apps/backend/develop/kustomization.yaml
  flux/apps/backend/staging/kustomization.yaml
Due: flux-kustomize-validate

Hetzner: nodes change only when we choose - no automatic OS updates, no kured
  docs/hetzner.md
  infra/terraform/hcloud_cluster/main.tf
  infra/terraform/hcloud_cluster/terraform.tfvars
  infra/terraform/hcloud_cluster/variables.tf
  scripts/node-maintenance.sh
Due: terraform-fmt, terraform-validate, terraform-security

Renovate dependency dashboard: what is out of date, monthly - no pull requests
  .github/workflows/flux-diff.yml
  .github/workflows/pre-commit.yml
  .github/workflows/renovate.yml
  Makefile
  infra/terraform/hcloud_cluster/terraform.tfvars
  infra/terraform/hcloud_cluster/variables.tf
  infra/terraform/kind_cluster/variables.tf
  renovate.json
Due: terraform-fmt, terraform-validate, terraform-security

renovate: a pull request run scans its own branch and logs what it found; vulnerability alerts stay with GitHub
  .github/workflows/renovate.yml
  renovate.json
Due: none

terraform fmt after the renovate comments
  infra/terraform/hcloud_cluster/variables.tf
  infra/terraform/kind_cluster/variables.tf
Due: terraform-fmt, terraform-validate, terraform-security

node-maintenance: nothing to evict is not an error; monthly as the intended cadence, with its reminder
  docs/hetzner.md
  infra/terraform/hcloud_cluster/terraform.tfvars
  scripts/node-maintenance.sh
Due: terraform-validate, terraform-security

renovate: skip pull requests from forks - their branch is not in this repository
  .github/workflows/renovate.yml
Due: none

verify-images: verifyDigest on - the mutation was seen working on kind
  flux/infrastructure/policy/packs/supply-chain/README.md
  flux/infrastructure/policy/packs/supply-chain/verify-images-audit.yaml
  flux/infrastructure/policy/packs/supply-chain/verify-images-enforce.yaml
  tests/kyverno-supply-chain.test.sh
Due: flux-kustomize-validate

Lifecycle guardrails: tests match the cluster's versions, kubeconform on our Kubernetes, pins
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  flux/infrastructure/data/cnpg-clusters/develop/cluster.yaml
  flux/infrastructure/data/cnpg-clusters/production/cluster.yaml
  flux/infrastructure/data/cnpg-clusters/staging/cluster.yaml
  flux/infrastructure/policy/kyverno/release.yaml
  renovate.json
  scripts/check-tools.sh
  scripts/flux-kustomize-validate.sh
  tests/tool-versions.test.sh
Due: flux-kustomize-validate
